<div id="<%= dom_id workout %>">
  <p>
    <strong>Recorded on:</strong>
    <%= workout.recorded_on %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= workout.kind %>
  </p>

  <p>
    <strong>Duration min:</strong>
    <%= workout.duration_min %>
  </p>

  <p>
    <strong>Calories kcal:</strong>
    <%= workout.calories_kcal %>
  </p>

  <p>
    <strong>Intensity:</strong>
    <%= workout.intensity %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= workout.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= workout.user_id %>
  </p>

</div>
