<div id="<%= dom_id weight_entry %>">
  <p>
    <strong>Recorded on:</strong>
    <%= weight_entry.recorded_on %>
  </p>

  <p>
    <strong>Weight g:</strong>
    <%= weight_entry.weight_g %>
  </p>

  <p>
    <strong>Body fat bp:</strong>
    <%= weight_entry.body_fat_bp %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= weight_entry.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= weight_entry.user_id %>
  </p>

</div>
