<div class="weekly-summary-card">
  <h3><%= formatted_period %></h3>
  <dl>
    <dt>平均体重</dt><dd><%= formatted_weight %></dd>
    <dt>平均体脂肪率</dt><dd><%= formatted_fat %></dd>
    <dt>総カロリー</dt><dd><%= formatted_calories %></dd>
    <dt>通知</dt><dd><%= notification_label %></dd>
  </dl>
</div>
