<h1>週次レポート生成</h1>

<% if @errors&.any? %>
  <div class="errors">
    <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: weekly_reports_path do |f| %>
  <div>
    <%= f.label :period_start, "開始日" %>
    <%= f.date_field :period_start, value: @period_start %>
  </div>

  <div>
    <%= f.label :period_end, "終了日" %>
    <%= f.date_field :period_end, value: @period_end %>
  </div>

  <div>
    <%= f.label :notification_channel, "通知チャネル" %>
    <%= f.select :notification_channel, [["メール", "email"], ["Slack", "slack"]], selected: @notification_channel %>
  </div>

  <%= f.submit "レポートを生成" %>
<% end %>
